* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 70%;
    text-align: center;
    margin: auto;
    border:2px solid hsl(1, 96%, 10%); 
    
}

#header {
    color: white;
    background-color: hsl(1, 98%, 62%);
    height: 10rem;
    margin-bottom: 6rem;
    border-bottom: 2px solid hsl(1, 96%, 10%);
}

header h1 {
    font-family: Ubuntu, "sans serif";
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
}

header h2 {
    font-family: Ubuntu, "sans serif";
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    margin-left: 1rem;
    font-style: italic;
}

ul {
    text-align: right;
    transform: skew(-10deg);
}

li {
    display: inline;
    margin: 25px;
    border: 1px solid hsl(1, 96%, 10%);
    border-radius: 5px;
    background-color: white;
    color: hsl(1, 96%, 10%);
    padding: 20px;
    font-family: Ubuntu, "sans serif";
    font-size: 1.5rem;
}

li:hover {
    background-color: hsl(1, 100%, 49%);
    color: white;
}

main {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    height: 40rem;
    border: 2px solid hsl(1, 96%, 10%);
    margin: 2px;
    background-image: url("./flamingo 1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

.intro {
    position: relative;
    top: 10%;
    left: 25%;
    height: 30rem;
    width: 40rem;
    border: 2px solid hsl(1, 96%, 10%);
    background-color: hsl(0, 0%, 98%);
    border-radius: 10px;
    border-bottom: 4px solid hsl(0, 100%, 2%);
    border-right: 4px solid hsl(0, 100%, 2%);
}

.intro p {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
    color: hsl(1, 96%, 10%);
    
    
}

.intro-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.intro-4 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.intro-5 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

/* Design Guide */

div {
    border: black solid 2px;
}

#design {
    margin-bottom: 40px;
}

div h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

div h3 {
    text-decoration: underline;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colors li {
    display: inline-block;
    padding: 20px;
    
}

.flamingo-med {
    color: white;
    background-color: hsl(1, 98%, 62%);
}

.flamingo-light {
    color: black;
    background-color: hsl(1, 80%, 90%);
    padding: 5px;
}

.flamingo-dark {
    color: white;
    background-color: hsl(1, 81%, 24%);
}

.flamingo-accent {
    color: white;
    background-color: hsl(1, 100%, 49%);
}

.flamingo-text {
    color: white;
    background-color:hsl(1, 96%, 10%)
}

.ubuntu-norm {
    font-family: Ubuntu, "sans serif";
    font-weight: 400;
    font-size: 30px;

}

.ubuntu-ital {
    font-family: Ubuntu, "sans serif";
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
}

.ubuntu-bold {
    font-family: Ubuntu, "sans serif";
    font-weight: 700;
    font-size: 30px;
}

.ssp-norm {
    font-family: "Source Code Pro", serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
}

.ssp-ital {
    font-family: "Source Code Pro", serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
}

.ssp-bold {
    font-family: "Source Code Pro", serif;
    font-weight: bold;
    font-size: 24px;

}

/* Media Queries */

