/* Universal Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 70%;
    text-align: center;
    margin: auto;
    border:2px solid hsl(1, 96%, 10%); 
    
}

/* Header Styling */

.header {
    color: white;
    background-color: hsl(1, 98%, 62%);
    height: 10rem;
    margin-bottom: 6rem;
    border-bottom: 2px solid hsl(1, 96%, 10%);
}

header h1 {
    font-family: Ubuntu, "sans serif";
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    margin-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    letter-spacing: 0.5rem;
}

header h2 {
    font-family: Ubuntu, "sans serif";
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    margin-left: 1rem;
    font-style: italic;
}

ul {
    text-align: right;
    transform: skew(-10deg);
}

li {
    display: inline;
    margin: 25px;
    border: 1px solid hsl(1, 96%, 10%);
    border-radius: 5px;
    box-shadow: 3px 6px 6px hsl(1, 96%, 10%);
    background-color: white;
    color: hsl(1, 96%, 10%);
    padding: 20px;
    font-family: Ubuntu, "sans serif";
    font-size: 1.5rem;
}

li:hover {
    background-color: hsl(1, 100%, 49%);
    color: white;
}

li:active {
    box-shadow: 0px 0px 0px;
}

/* Introduction Styling */

main {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    border: 2px solid hsl(1, 96%, 10%);
    margin: 2px;
    background-image: url("./flamingo 1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.intro {
    position: relative;
    top: 10%;
    left: 20%;
    height: 30rem;
    width: 50rem;
    border: 4px solid hsl(1, 100%, 49%);
    background-color: hsl(1, 95%, 99%);
    border-radius: 10px;
    box-shadow: 10px 20px 20px hsl(1, 96%, 10%);
    animation-name: ellipse;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes ellipse {
    0% {border-radius: 10%;}
    100% {border-radius: 50%;}
}


.intro p {
    font-style: italic;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: hsl(1, 96%, 10%);
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
}

@keyframes largest {
    0% {font-size: 20px;}
    100% {font-size: 36px;}
}

@keyframes larger {
    0% {font-size: 20px;}
    100% {font-size: 26px;}
}

.intro-1 {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.5rem;
    text-decoration: underline;
    padding-bottom: 0.5rem;
    animation-name: largest;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.intro-2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2rem;
    animation-name: larger;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.intro-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2rem;
    animation-name: larger;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
}

.intro-4 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2rem;
    animation-name: larger;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

.intro-5 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.2rem;
    animation-name: larger;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

/* Projects Styling */

.projects {
    position: relative;
    top: 0;
    left: 0;
    height: 40rem;
    width: auto;
    border: 2px solid hsl(1, 96%, 10%);
    margin: 2px;
    background-image: url("./flamingo 1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.projects h1 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 36px;
    padding: 10px 10px;
    margin: 10px 10px;
    color: hsl(1, 96%, 10%);
}

img {
    height: 300px;
    width: 300px;
    border: 3px solid hsl(1, 81%, 24%);
    border-radius: 10px;
}

img:hover {
    filter: saturate(3);
}

img:active {
    filter:grayscale(1);
}

.photo-1 {
    position: absolute;
    top: 15%;
    left: 4%;
    display: inline-block;
    background-color: white;
    padding: 1rem;
    border: 3px solid hsl(1, 100%, 49%);
    border-radius: 10px;
}

.photo-2 {
    position: absolute;
    top: 15%;
    left: 37%;
    display: inline-block;
    background-color: white;
    padding: 2rem;
    border: 2px solid hsl(1, 100%, 49%);
    border-radius: 10px;
}

.photo-3 {
    position: absolute;
    top: 15%;
    left: 70%;
    display: inline-block;
    background-color: white;
    padding: 2rem;
    border: 2px solid hsl(1, 100%, 49%);
    border-radius: 10px;
}

figcaption {
    font-family: "Source Code Pro", "sans serif";
    color: hsl(1, 96%, 10%);
    font-weight: bold;
}

/* Skillset Styling */

.skills {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    border: 2px solid hsl(1, 96%, 10%);
    margin: 2px;
    background-image: url("./flamingo 1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    
}

.skills h1 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 36px;
    padding: 10px 10px;
    margin: 5px 10px;
    color: hsl(1, 96%, 10%);
}

.skills h2 {
    margin-bottom: 1rem;
    font-family: Ubuntu, "sans serif";
    padding-top: 0.5rem;
}

.skills h3, p {
    text-align: left;
    padding-left: 5rem;
    line-height: 1.5;
}

.skills h3 {
    text-decoration: underline;
    font-family: Ubuntu, "sans serif";
}

.skillset {
    position: absolute;
    top: 12%;
    left: 0%;
    height: 33%;
    width: 100%;
    border: 2px solid hsl(1, 96%, 10%);
    background-color:hsla(1, 100%, 49%, 0.2);

}

.education {
    position: absolute;
    top: 52%;
    left: 0%;
    height: 45%;
    width: 100%;
    border: 2px solid hsl(1, 96%, 10%);
    background-color: hsla(1, 100%, 49%, 0.2); 
}
 .education p {
    font-style: italic;
    line-height: 1.2;
 }

details {
    text-align: left;
    padding-left: 5rem;
}

/* Contact Styling */

.contact {
    position: relative;
    top: 10%;
    left: 0%;

}

.contact-word {
    position: absolute;
    top: 10%;
    left: 0%;
    height: 30rem;
    width: 50%;
    background-color: hsl(1, 96%, 10%);
    color: hsl(1, 95%, 99%);
    text-align: right;
    
}

.contact-word h1 {
    margin-top: 8rem;
    font-family: Ubuntu,"sans serif";
    font-size: 3rem;
    font-weight: bold;
    padding-right: 2rem;
}

.contact-modes {
    position: absolute;
    top: 10%;
    left: 50%;
    height: 30rem;
    width: 50%;
    color: hsl(1, 96%, 10%);
    background-color: hsl(1, 95%, 99%);
    text-align: left;
    padding-top: 3.5rem;
    font-family: "Source Code Pro", monospace;
    font-size: 1.5rem;
    border-top: 2px solid hsl(1, 96%, 10%);
    border-bottom: 2px solid hsl(1, 96%, 10%);
}

.contact-modes p {
    text-align: left;
    margin-left: 0;
    padding: 2rem 1rem;
    word-break: break-all;
    background-color: hsla(1, 60%, 50%, 0.1);
    border-top: 1px solid hsl(1, 96%, 10%);
    border-bottom: 1px solid hsl(1, 96%, 10%);
}

a:visited {
    text-decoration: none;
}

.phone {
    padding-top: 4rem;
}

.contact-modes img {
    height: 4px;
    width: 4px;
}


/* Design Guide */

div {
    border: black solid 2px;
}

#design {
    margin-bottom: 40px;
}

div h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

div h3 {
    text-decoration: underline;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.colors li {
    display: inline-block;
    padding: 20px;
    
}

.flamingo-med {
    color: white;
    background-color: hsl(1, 98%, 62%);
}

.flamingo-light {
    color: black;
    background-color: hsl(1, 80%, 90%);
    padding: 5px;
}

.flamingo-dark {
    color: white;
    background-color: hsl(1, 81%, 24%);
}

.flamingo-accent {
    color: white;
    background-color: hsl(1, 100%, 49%);
}

.flamingo-text {
    color: white;
    background-color:hsl(1, 96%, 10%)
}

.ubuntu-norm {
    font-family: Ubuntu, "sans serif";
    font-weight: 400;
    font-size: 30px;

}

.ubuntu-ital {
    font-family: Ubuntu, "sans serif";
    font-weight: 300;
    font-size: 30px;
    font-style: italic;
}

.ubuntu-bold {
    font-family: Ubuntu, "sans serif";
    font-weight: 700;
    font-size: 30px;
}

.ssp-norm {
    font-family: "Source Code Pro", serif;
    font-weight: 700;
    font-size: 18px;
    text-decoration: underline;
}

.ssp-ital {
    font-family: "Source Code Pro", serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
}

.ssp-bold {
    font-family: "Source Code Pro", serif;
    font-weight: bold;
    font-size: 24px;

}
